@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Commit Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/CommitMono-400-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Hubot Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/HubotSans-Medium.woff2) format('woff2');
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 40.61 92.52% 58.04%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 26.59 97.88% 62.94%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
	}
	body {
		@apply bg-background text-foreground;
	}

	#theme-toggle--dark {
		display: none;
	}
	#theme-toggle--light {
		display: block;
	}

	&.dark {
		color-scheme: dark;

		#theme-toggle--dark {
			display: block;
		}
		#theme-toggle--light {
			display: none;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-mono;
	}

	mark {
		@apply bg-accent;
	}
}
