@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Commit Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/CommitMono/CommitMono-400-Regular.otf) format('openType');
}

@font-face {
	font-family: 'Hubot Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Hubot Sans/OTF/HubotSans-Medium.otf) format('openType');
}

@layer base {
	:root {
		--background: 0 0% 95%;
		--foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 80.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 80.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 40.61 92.52% 58.04%;
		--accent-foreground: 0 0% 9%;
		--border: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 26.59 97.88% 62.94%;
		--accent-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}

	*,
	*::before,
	*::after {
		@apply border-border;
	}

	html {
		color-scheme: light;
		@apply bg-background text-foreground;

		#theme-toggle--dark {
			display: none;
		}
		#theme-toggle--light {
			display: block;
		}

		&.dark {
			color-scheme: dark;

			#theme-toggle--dark {
				display: block;
			}
			#theme-toggle--light {
				display: none;
			}
		}

		::-webkit-scrollbar-corner {
			@apply bg-transparent;
		}
	}

	.disable-transitions,
	.disable-transitions * {
		@apply !transition-none;
	}
}
